#main{
  text-align: center;
  padding: 20px;


  .header{

    h1{
      width: 1000px;
      display: inline;
      margin: 0px 450px;
      padding-left: 165px;
    }
    .reset{
      display: inline;
      position: relative;
      top: -15px;
      cursor: pointer;
    }
  }

  p{
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
  }

  .des_select{
    margin-left: 300px;

    span{
      padding: 0 20px;
      width: 13%;
      float: left;
      background: white;
    }
  }

  .footer{
    position: relative;
    top: 350px;
    right: 700px;
    button{
      background-color: #4CAF50;
      border: 3px solid black;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }
}

.disabled{
  pointer-events: none;
  opacity: 0.4;
}
